{% extends 'base.html.twig' %}

{% block title %}NBC | Leaks{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/imagesloaded.min.js') }}"></script>
    <script src="{{ asset('js/magnific.js') }}"></script>
    <link href="{{ asset('css/magnific.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/masonry.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div id="detail-header" class="col">
                <h3>{{ details.gallery }}</h3>
                {% if details.description is defined %}
                    <p class="lead px-4">{{ details.description }}</p>
                {% endif %}
                <div id="comfort" class="btn btn-custom-2 d-none"><i class="fas fa-search-plus"></i></div>
                <div id="compact" class="btn btn-custom-2"><i class="fas fa-search-minus"></i></div>
            </div>
        </div>
        <div class="row previews-grid">
            <div id="loading">
                {#            <img id="loading-image" src="/assets/spinner.gif" alt="Loading..." />#}
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                <h3>Be patient you horny fuck. The fap is loading...</h3>
            </div>
        {% set initial = 0 %}
        {% for image in details.images %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 px-0 gx-1 preview-item">
                <a class="magnific" href="/{{ image }}">
                    <img src="/{{ image|replace({'.jpg': '.webp'}) }}" />
                </a>
            </div>
        {% endfor %}
    </div>
    <script src="{{ asset('js/serve.js') }}"></script>
{% endblock %}