{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 front-teaser p-5">
            <h1>Recent Onlyfans Leaks</h1>
        </div>
{#        {% for creator,recent in onlyfans %}#}
{#        <div class="col-12 col-md-6 col-lg-3">#}
{#            <div class="flex">#}
{#                <a class="preview-item" href="/onlyfans/{{ creator }}">#}
{#                    <img loading="lazy" class="preview-portrait" src="/dumps/onlyfans/{{ creator }}/photos/{{ recent.previews.portrait }}" />#}
{#                    <img loading="lazy" class="preview-landscape" src="/dumps/onlyfans/{{ creator }}/photos/{{ recent.previews.landscape }}" />#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
    </div>
    <div class="row m-3">
        <div class="col-12 col-md-6">
            <h1>Welcome Horny People.</h1>
            <p>This a home base for all you cheap horny fucks who can't afford porn. I am your goddess, and any time you whack off to the content here I want you to think of me. Alright, now with that out of the way...</p>
            <p>This site is still in its infancy; you should be grateful it has as much as it does. Currently, for all dumps the photos are available. Some time in the future there will also be videos available. But for now you are stuck choking your rooster to stills.</p>
            <p>Dumps are date based so when they are created anything added to the source afterwards won't be available. In other words if xxxmcnastycunt posts a video on Friday but profile was dumped on Thursday...that new video of her tickling her asshole with a gardening spade wont be available.</p>
            <h1>To the creators</h1>
            <p>If any of your content is on this site and you feel it shouldn't be just know that I truly don't give a fuck, and you should keep creating for all of us.</p>
            <p>You females have forgotten that you are the inferior gender and are worth nothing more than the holes you show off in your content. You're only true uses are getting fucked, reproducing and serving your master gender the rest of the time. If we can't get any pleasure out of you...you're basically useless.</p>
            <p>If you would like to turn your life around and actually contribute to your role defined at birth, please do some reading here and convert today.</p>
            <h3>However...</h3>
            <p>I am someone who likes money and when it comes to an exchange is very honorable. If you can transfer bitcoin at an agreeable price I will remove your content forever.</p>
            <p>If interested email me here: leaksxxx@protonmail.com</p>
        </div>
        <div class="col-12 col-md-6">
            <h1>Coming Updates</h1>
            <p>Below is a list of updates I am working on for this site. No I won't give an estiamte of completion because I don't care about you and this whole site is free.</p>
            <h3>Dump Torrents</h3>
            <p>Right now these dumps are locked away in storage. But I will be opening them up for torrenting once I get everything set up.</p>
            <h3>Video Galleries</h3>
            <p>Videos are available for some dumps. Need to bake in a way to view those easily.</p>
        </div>
    </div>
{% endblock %}